<IfModule mod_rewrite.c>
  RewriteEngine On
  Options -MultiViews
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteRule ^api(?:/.*)?$ api/index.php [QSA,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
